body {
    background-color: #191919;
    font-family: 'Segoe UI';
}

table { 
    width: 100%;
    height: 100%;
    background-color: #191919;
}

#header {
    height: 100px;
}

#headerData { 
    color: #DFAB01;
    font-size: 50px;
    font-weight: 700;
}

#navigation {
    color: #FFFFFF;
    width: 250px;
}

#navigationData {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
}

#paragraph {
    color: #FFFFFF;
}

#paragraphData {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#footer {
    height: 50px;
}

#footerData {
    color: #DFAB01;
    font-size: 10px;
    font-weight: 600;
}

#galleryData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#videoData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#audioData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#socialMediaAndContactData {
    margin-left: 102.5px;
    margin-right: 102.5px;
}

#contactData {
    margin-bottom: -180px;
}

#contactEmail {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
}

#contactEmailData {
    color: #DFAB01;
    font-size: 19px;
    font-weight: 100;
    line-height: 5px;
}

#contactLocation {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
}

#contactLocationData {
    color: #DFAB01;
    font-size: 19px;
    font-weight: 100;
    line-height: 5px;
}

#socialMediaData {
    margin-left: 300px;
}

#socialMediaFacebookIcon {
    padding-right: 50px;
}

#socialMediaInstagramIcon {
    padding-right: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background: #555555;
}